.education-card {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: -20px 10px 35px rgba(201, 201, 201, 0.3); /*-20px = afstand til venstre, 10px = afstand ned, 35px = blur-radius, rgba(...) = farve og opacity */
  transition: all 0.3s ease; /* Tilføjer overgangseffekten */
  font-family: Poppins, sans-serif;
}

.education-card:hover {
    transform: translateY(-5px); /* Løfter kortet lidt ved hover */
    box-shadow: -20px 15px 40px rgba(201, 201, 201, 0.5); /* Mere skygge når der er hover */
}

.years {
  color: #FFA4C6;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.education-title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.education-subtitle {
  font-size: 20px;
  color: #666;
  margin: 0;
}