html {
    scrollbar-gutter: stable; /* Forhindrer layout skift ved visning af scrollbar */
}

.portfolio {
   display: flex;
   flex-direction: column;
   width: 100%;
   box-sizing: border-box;
   animation: fadeIn 0.6s ease-in;
   padding: 0 250px;
   font-family: Poppins, sans-serif;
   margin-bottom: 100px;
}

.portfolio-content {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  min-height: 90vh;
  margin-top: 70px;
  gap: 200px;
}

/* Hero Banner Section */

.hero-banner {
    margin: 0px;
    max-width: 900px;
}

.hero-banner h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 0 0 10px 0;
}

.hero-banner p {
    font-size: 27px;
    font-weight: 350;
    margin: 0 0 20px 0;
}

.contact-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.email-btn, .linkedin-btn, .github-btn {
    width: 148.37px;
    height: 56px;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    background-color: #F2F2F2;
    box-shadow: -10px 10px 35px rgba(196, 194, 194, 0.315);
    transition: all 0.3s ease; /* Tilføjer overgangseffekten */
    font-family: Poppins, sans-serif;
}

.email-btn:hover, .linkedin-btn:hover, .github-btn:hover {
    transform: translateY(-5px); /* Løfter knappen lidt ved hover */
    box-shadow: -10px 15px 40px rgba(196, 194, 194, 0.5); /* Mere skygge når der er hover */
}

.contact-buttons button:hover {
    background-color: #FFDFEB;
}

.portfolio-image {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
}


.portfolio-image img {
    width: 553px;
    height: 549px;
    border-radius: 50%;
    position: relative; /* Gør at pseudo-elementet kan placeres relativt til billedet */
    z-index: 20; /* Sikrer at billedet er over gradienten */
}

.portfolio-image::before {
    content: ''; /* Pseudo-element til gradient bag billedet */
    position: absolute;
    width: 553px;
    height: 549px;
    border-radius: 50%;
    background: conic-gradient(from 129deg, rgba(224, 112, 153, 0.5) 0%, rgba(0, 188, 212, 0.3) 100%);
    filter: blur(30px);
    z-index: 10; /* Placeres bag billedet */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrerer pseudo-elementet */
}

/* Education and other section */

.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
}

.education-header {
    grid-column: 1 / 2;
    font-size: 30px;
}

.skills-header {
    grid-column: 2 / 3;
    font-size: 30px;
}

.experience-header {
    grid-column: 1 / 2;
    font-size: 30px;
    margin-top: 20px;
}

.tech-stack-header {
    grid-column: 2 / 3;
    font-size: 30px;
    margin-top: 20px;
}

.projects-header {
    grid-column: 1 / 2;
    font-size: 30px;
    margin-top: 40px;
}

.education {
    grid-column: 1 / 2;
    margin-bottom: 20px;
}

.skills {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.skills .btn-card-button {
    border-radius: 30px;
    box-shadow: -10px 10px 35px rgba(196, 194, 194, 0.315);
}

.experience {
    grid-column: 1 / 2;
}

.tech-stack {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.tech-stack .btn-card-button {
    border-radius: 13px;
    box-shadow: -10px 10px 35px rgba(196, 194, 194, 0.315);
    display: flex; 
    align-items: center; /* Centrerer indhold lodret */
    gap: 10px; /* Afstand mellem cirklen og teksten */
}


.tech-stack .btn-card-button::before { /* Farvet cirkel før skill */
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffbee6;
    border-radius: 50%;
    flex-shrink: 0;
}

.projects {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

